/* Mobile Container */

.mobile-container{
    max-width:420px;
    width:100%;
    margin:0 auto;
    min-height:100vh;
    background:#f8f8f8;
    position:relative;
    overflow:hidden;
}

/* Home */

.home-page{
    width:100%;
    min-height:100vh;
    padding-bottom:90px;
}

/* Header */

.home-header{
    background:#3B1F0F;
    color:#fff;
    text-align:center;
    padding:18px 15px;
}

.home-header h2{
    margin:0;
    font-size:28px;
    font-weight:700;
}

.home-header span{
    color:#FFD180;
    font-size:13px;
}

/* Welcome */

.welcome-card{
    margin:18px;
    background:#fff;
    border-radius:18px;
    padding:28px 20px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.welcome-card h2{
    font-size:34px;
    color:#3B1F0F;
    margin-bottom:12px;
}

.welcome-card p{
    color:#ff9800;
    font-size:24px;
    font-weight:700;
}

.welcome-card span{
    color:#666;
    font-size:17px;
}

/* Explore Menu */

.explore-card{
    margin:18px;
    background:#ff9800;
    color:white;
    border-radius:18px;
    padding:24px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 5px 15px rgba(255,152,0,.35);
}

.explore-card:hover{
    transform:translateY(-3px);
}

.explore-card h3{
    margin:0;
    font-size:30px;
}

.explore-card p{
    margin-top:10px;
    font-size:18px;
}

/* Section */

.section{
    padding:0 18px;
}

.section h3{
    font-size:22px;
    margin-bottom:18px;
    color:#3B1F0F;
}

/* Categories */

.category-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.category-btn{
    background:white;
    border:none;
    border-radius:16px;
    padding:20px 10px;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    transition:.3s;
}

.category-btn:hover{
    background:#ff9800;
    color:white;
}