.login-container{
    min-height:100vh;
    background:#f7f7f7;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-card{
    width:100%;
    max-width:360px;
    background:white;
    padding:30px;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}


/* Back Button */

.login-back-btn{
    position:absolute;
    top:20px;
    left:20px;

    width:42px;
    height:42px;

    display:flex;
    align-items:center;
    justify-content:center;

    border:none;
    border-radius:50%;

    background:#3B1F0F;
    color:#fff;

    font-size:22px;
    font-weight:bold;

    cursor:pointer;

    box-shadow:0 3px 8px rgba(0,0,0,.15);
    z-index:1000;

    transition:.3s;
}

.login-back-btn:hover{
    background:#FF9800;
    color:#fff;
}

.login-card h2{
    margin-top:15px;
    font-weight:bold;
}

.subtitle{
    color:gray;
    margin-bottom:25px;
}

.form-group{
    margin-bottom:18px;
}

.form-group label{
    display:block;
    margin-bottom:6px;
    font-weight:600;
}

.form-group input{
    width:100%;
    height:45px;
    border:1px solid #ddd;
    border-radius:8px;
    padding:10px;
}

.forgot-password{
    text-align:right;
    color:#ff6b00;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
    margin-bottom:20px;
}

.login-btn{
    width:100%;
    height:45px;
    background:#ff9800;
    border:none;
    border-radius:8px;
    color:white;
    font-size:18px;
    font-weight:bold;
}

.bottom-text{
    text-align:center;
    margin-top:20px;
}

.bottom-text a{
    color:#ff9800;
    text-decoration:none;
    font-weight:bold;
}